Django==4.2.7
opencv-python==4.8.1.78
mtcnn==0.1.1
Pillow==10.1.0
numpy==1.24.3
tensorflow==2.13.0

torch>=2.0
torchvision
scikit-learn
matplotlib
seaborn
tqdm

#pip install -r requirements.txt
#activate the venv :   .\.venv\Scripts\Activate
#run python manage.py runserver